$primary_color: #2D3E50;
$secondary_color: #1CD0AD;

body {
    margin: 0;
    padding: 0;
    font-family: arial;
    color:white;
}

.primary-color {
    color: $primary_color
}

.secondary-color {
    color: $secondary_color;
}

a {
    color: $secondary_color;
    text-decoration: none;
}

.home {
    &__header {
        background-color: $primary_color;
        color: #fff;  
        padding: 10px;
        font-size: 12px;

        &__wrapper {
            display: grid;
            grid-template-columns: 2fr auto;
            align-items: center;
            max-width: 1000px;
            margin: auto;

            &__info {
                cursor: pointer;
                
                &__list {
                    margin-right: 20px;
                    display: inline-block;

                    .icon {
                        display: inline-block;
                    }
                    .label {
                        display: inline-block;
                    }
                }
            }

            &__social {
                text-align: right;
                cursor: pointer;

                .social {
                    display: inline-block;
                    padding: 0 10px;
                    font-size: 16px;
                    
                    &:hover {
                        color: $secondary_color;
                    }
                }
            }
        }
    }

    &__navigation {
        color: #333;

        &__wrapper {
            max-width: 1000px;
            margin: auto;
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            padding: 10px;
            
            &__logo {
                font-size: 30px;
                font-weight:  bold;
            }
            &__nav {
                text-align: right;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            
                &__list {
                    margin-right: 20px;
                    color: $primary_color;


                    &--active, &:hover {
                        color: $secondary_color;
                    }
                }   
            }
            &__search {
                &__icon {
                    border: 2px solid #333;
                    width: 20px;
                    height: 20px;
                    font-size: 20px;
                    line-height: 20px;
                    padding: 8px;
                    border-radius: 100%;
                }
            }
        }
    }
    &__slider {
        background-color: $primary_color;
        height: 600px;
        position: relative;
    
        &__slide {
            &__content {
                color: #fff;
                text-align: center;
                position: relative;
                z-index: 1;
                padding-top: 200px;
                line-height: 200%;

                .title {
                    font-size: 30px;
                    font-weight: bold;
                }
                .subtitle {

                }
                .actions {
                    .arrows{
                        &__left{
                            float: left;
                        }
                        &__right{
                            float: right;
                        }
                    }
                    &__primary {
                        background-color: $secondary_color;
                        color: #fff;
                        border: 2px solid $secondary_color;
                        padding: 10px 15px;
                        border-radius: 3px;
                        margin: 0 5px;
                    }

                    &__secondary {
                        background-color: transparent;
                        color: #fff;
                        border: 2px solid #fff;
                        padding: 10px 15px;
                        border-radius: 3px;
                        margin: 0 5px;
                    }
                }
            }
            &__background {
                background-image: url('imgs/slide1.jpeg');
                opacity: 0.3;
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0; 
                right: 0;
                bottom: 0;
            }
        }

    }
    &__holiday{
        background-color: $primary_color;
        height: 400px;
        position: relative;
        &__slide{
            &__content{
                text-align: center;
                position: relative;
                z-index: 1;
                padding-top: 40px;
                line-height: 200%;
                .title {
                    font-size: 20px;
                    font-weight: bold;
                    color: #ffffff;
                }
                .subtitle {
                    font-size: 15px;
                }
                .icons {

                    padding-top: 60px;
                    display: grid;
                    grid-template-columns: auto auto auto auto auto auto;
                    align-items: center;
                    max-width: 1000px;
                    margin: auto;

                    &__secondary {
                        background-color: transparent;
                        color: #fff;
                        border: 3px solid #fff;
                        padding: 30px 30px;
                        border-radius: 500px;
                        margin: 0 5px;
                        &:hover {
                            border-color: $secondary_color;
                            color: $secondary_color;
                        }
                        i{
                            font-size: 50px;

                        }

                    }

                }
            }
            &__background{
                background-image: url('imgs/1.jpg');
                opacity: 0.3;
                background-size: cover;
                background-attachment: fixed;
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    &__client {
        background-color: white;
        height: 400px;
        position: relative;
        &__content{
            text-align: center;
            position: relative;
            z-index: 1;
            padding-top: 40px;
            line-height: 200%;
            .title {
                font-size: 20px;
                font-weight: bold;
                color: black;
            }
            .subtitle {
                font-size: 15px;
                color: black;
            }
            .card {
                padding-top: 60px;
                display: grid;
                grid-template-columns: auto auto auto ;
                align-items: center;
                max-width: 2000px;
                margin: auto;

                &__sm-card {
                    opacity: 0.3;
                    transition: 0.3s;
                    width: 400px;
                    height: 150px;
                    &:hover {
                        box-shadow: 0 -5px 0 0 rgb(28,208,173);
                        opacity: 1;
                    }
                    .container {
                        padding: 0px 16px;
                        color: black;
                        text-decoration: none;
                        font-size: 12px;
                        text-align: left;
                    }
                    &--active{
                        box-shadow: 0 -5px 0 0 rgb(28,208,173);
                        opacity: 1;


                    }
                    .name{
                        padding: 0px 16px;
                        color: $secondary_color;
                        text-decoration: none;
                        font-weight: bold;
                        font-size: 14px;
                        text-align: left;
                    }
                    .country{
                        opacity: 0.3;
                        padding: 0px 16px;
                        color: grey;
                        text-decoration: none;
                        font-size: 10px;
                        font-weight: bold;
                        text-align: left;
                    }
                }

            }
        }
    }
}