body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.primary-color {
  color: #2D3E50;
}

.secondary-color {
  color: #1CD0AD;
}

a {
  color: #1CD0AD;
  text-decoration: none;
}

.home__emot {
  background-color: #2D3E50;
  color: #fff;
  font-size: 12px;
  height: auto;
}
.home__emot__slags {
  margin: auto;
  color: white;
  font-size: 10px;
  text-align: center;
  width: auto;
  margin: 0px 350px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 10px 15px;
}
.home__emot__slags .stik {
  padding: 0px 10px;
  border-right: 1px dashed white;
  align-items: center;
  margin: 0px 0px 0px 2px;
}
.home__emot__slags .tik {
  padding: 0px 10px;
  border-right: 1px dashed white;
  border-left: 1px dashed white;
  align-items: center;
  margin: 0px 0px 0px 2px;
}
.home__emot__slags .tiks {
  padding: 0px 10px;
  border-left: 1px dashed white;
  align-items: center;
  margin: 0px 0px 0px 2px;
}
.home__footer {
  background-color: #2D3E50;
  color: #fff;
  font-size: 12px;
  height: auto;
  align-items: center;
  border-bottom: 2px solid #324355;
}
.home__footer__tutuk {
  align-items: center;
  display: grid;
  grid-template-columns: auto;
  margin: 0px 50%;
}
.home__footer__tutuk__arrow-up {
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #1CD0AD;
}
.home__footer__stagers {
  margin: auto;
  color: white;
  font-size: 10px;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  padding: 0px 0px 10px 0px;
}
.home__footer__wrappers {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0px 100px;
}
.home__footer__wrappers__inner {
  padding-bottom: 10px;
  color: #1CD0AD;
  background-color: #2D3E50;
  text-align: left;
  width: 200px;
}
.home__footer__wrappers__inner__sirch {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.home__footer__wrappers__inner__sirch .input {
  background-color: white;
  padding: 10px 15px;
  border-radius: 3px;
  width: 100px;
  border: 2px solid white;
}
.home__footer__wrappers__inner__sirch .buttones {
  background-color: #1CD0AD;
  color: #fff;
  border: 2px solid #1CD0AD;
  padding: 10px 15px;
  border-radius: 3px;
  margin-right: 0px;
}
.home__footer__wrappers__inner__jokes {
  padding: 10px 15px;
  border-radius: 3px;
  width: 20px;
  text-align: center;
}
.home__footer__wrappers__inner .wordings {
  color: white;
  text-align: left;
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
}
.home__footer__wrappers__inner__embark {
  color: white;
  text-align: left;
  padding-left: 5px;
}
.home__footer__wrappers__inner__into {
  grid-template-columns: auto auto;
  display: grid;
  width: 200px;
}
.home__footer__wrappers__inner__into__joke {
  border: 1px solid white;
  padding: 5px;
  border-radius: 3px;
  width: 20px;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
.home__footer__wrappers__inner__into__post_wordings {
  color: #1CD0AD;
  text-align: left;
  padding-left: 5px;
}
.home__footer__wrappers__inner__tags {
  color: white;
  display: grid;
  width: fit-content;
  align-items: center;
  grid-template-columns: auto auto auto;
}
.home__footer__wrappers__inner__tags .lags {
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  margin: 2px;
  text-align: center;
}
.home__footer__wrappers__inner__blah {
  color: white;
}
.home__footer__wrappers__inner__blah span {
  color: #1CD0AD;
}
.home__footer__wrappers__inner__iconis {
  display: grid;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  color: white;
  width: fit-content;
}
.home__footer__wrappers__inner__iconis .mini {
  padding: 10px;
  width: 20px;
}
.home__footer__wrappers__inner__iconis .mini:hover {
  padding: 10px;
  width: 20px;
  transition: 0.8s;
  transform: rotate(360deg);
}
.home__header {
  background-color: #2D3E50;
  color: #fff;
  padding: 10px;
  font-size: 12px;
}
.home__header__wrapper {
  display: grid;
  grid-template-columns: 2fr auto;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}
.home__header__wrapper__info {
  cursor: pointer;
}
.home__header__wrapper__info__list {
  margin-right: 20px;
  display: inline-block;
}
.home__header__wrapper__info__list .icon {
  display: inline-block;
}
.home__header__wrapper__info__list .label {
  display: inline-block;
}
.home__header__wrapper__social {
  text-align: right;
  cursor: pointer;
}
.home__header__wrapper__social .social {
  display: inline-block;
  padding: 0 10px;
  font-size: 16px;
}
.home__header__wrapper__social .social:hover {
  color: #1CD0AD;
}
.home__navigation {
  color: #333;
}
.home__navigation__wrapper {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 10px;
}
.home__navigation__wrapper__logo {
  font-size: 30px;
  font-weight: bold;
}
.home__navigation__wrapper__nav {
  text-align: right;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.home__navigation__wrapper__nav__list {
  margin-right: 20px;
  color: #2D3E50;
}
.home__navigation__wrapper__nav__list--active, .home__navigation__wrapper__nav__list:hover {
  color: #1CD0AD;
}
.home__navigation__wrapper__search__icon {
  border: 2px solid #333;
  width: 20px;
  height: 20px;
  font-size: 20px;
  line-height: 20px;
  padding: 8px;
  border-radius: 100%;
}
.home__slider {
  background-color: #2D3E50;
  height: 600px;
  position: relative;
}
.home__slider__slide__content {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  padding-top: 200px;
  line-height: 200%;
}
.home__slider__slide__content .title {
  font-size: 30px;
  font-weight: bold;
}
.home__slider__slide__content .actions__primary {
  background-color: #1CD0AD;
  color: #fff;
  border: 2px solid #1CD0AD;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 0 5px;
}
.home__slider__slide__content .actions__secondary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px 15px;
  border-radius: 3px;
  margin: 0 5px;
}
.home__slider__slide__background {
  background-image: url("imgs/slide1.jpeg");
  opacity: 0.3;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
